$theme-colors: (
  "primary": #00a3ff,
  "outline": #dedede,
  "near-mint": #86d960,
  "excellent": #94bd90,
  "good": #d9d267,
  "lightly-played": #d98080,
  "heavily-played": #b55252,
);

.search-bar-btn {
  background-color: white;
  width: 2rem !important;
  height: 2.4rem;
  text-align: center;
  line-height: 2.3rem;
  position: absolute;
  right: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid lightgrey;
  cursor: pointer;
}

.trends-list > .row:nth-child(even) {
  background-color: #00a3ff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #00a3ff !important;
}

.nav-pills .nav-link {
  color: #00a3ff;
}

.nav-dropdown > .btn {
  font-size: 0.8rem;
  color: white;
}

@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap");

.carousel-caption {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}

.member-list-item:nth-child(2n) {
  background-color: lightgrey;
}

.listing-con:nth-child(2n) {
  background-color: lightgray;
}

.trends-list:nth-child(odd){
  background-color: #dedede;
}

.trends-list:nth-child(even){
  background-color: #00a3ff;
}

.search-res-display:nth-child(odd) {
  background-color: lightgray;
}

.card-view-img:hover {
  cursor: pointer;
}

.mobile-navbar {
  display: none;
}

@media only screen and (max-width: 1088px) {
  .site-logo {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    position: relative;
  }

  .hamburger-icon {
    position: absolute;
    right: 1rem;
  }

  .mobile-nav-search > .mobile-nav-search-btn {
    position: absolute;
    z-index: 3;
    right: 0;
  }

  .mob-search{
    width: 16.5rem,
  }

  // .mobile-nav-search-btn {
  //   position: absolute;
  //   z-index: 3;
  //   right: 0;
  // }

  .site-nav {
    display: none;
  }
}

@media only screen and (max-width: 346px) {
  .mob-search{
    width: 13rem;
  }
}